
.container{
    background: silver;
    flex-direction: row;

    justify-content: space-around;

    display: flex;
}

.caixa {
    width: 100px;
    height: 100px;
    margin: 50px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}