*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding. */
}

body{
    font-family: sans-serif;
}

.header{
    background-color: grey;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}

.container {
    display: flex; /* Deixar os conteudos dentro dessa classe lado a lado */
}

.navbar {
    width: 30%;
    background: #a3a3a3;
    padding:30px ;
}

.content {
    width: 70%;
    background: #d8d8d8;
    padding: 30px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 20px 0;
}